﻿@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h4 class="display-4">Prueba Tecnica</h4>
</div>



<div>
	<a   asp-controller="Categorias" asp-action="Index">Categorias</a>
</div>
<div>
	<a  asp-controller="Productos" asp-action="Index">Productos</a>
</div>
