﻿@model PruebaTecnica.Models.Categoria

@{
	ViewData["Title"] = "Categira | Eliminar";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>¿ Esta seguro de eliminar la categoria  <b>@Html.DisplayFor(model => model.Nombre)</b>  ?</h4>
<hr />
<div>
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Nombre)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Nombre)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Descripcion)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Descripcion)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Estado)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Estado)
		</dd>
	</dl>

	<form asp-action="Delete">
		<input type="hidden" asp-for="Idcategoria" />
		<input type="submit" value="Eliminar" class="btn btn-danger" /> |
		<a asp-action="Index">Atras</a>
	</form>
</div>
