﻿@model PruebaTecnica.Models.Categoria

@{
	ViewData["Title"] = "Categoria | Ver";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
	<h4>@Html.DisplayFor(model => model.Nombre)</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Nombre)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Nombre)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Descripcion)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Descripcion)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Estado)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Estado)
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Index">Atras</a>
</div>
