﻿@model PruebaTecnica.Models.Categoria

@{
	ViewData["Title"] = "Categorias | Editar";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Editar Categoria</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Idcategoria" />
			<div class="form-group">
				<label asp-for="Nombre" class="control-label"></label>
				<input asp-for="Nombre" class="form-control" />
				<span asp-validation-for="Nombre" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Descripcion" class="control-label"></label>
				<input asp-for="Descripcion" class="form-control" />
				<span asp-validation-for="Descripcion" class="text-danger"></span>
			</div>
			<div class="form-group form-check">
				<label class="form-check-label">
					<input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
				</label>
			</div>
			<div class="form-group">
				<input type="submit" value="Guardar" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Atras</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
