﻿@model IEnumerable<PruebaTecnica.Models.Categoria>

@{
	ViewData["Title"] = "Categorias | CRUD";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Lista de Categorias</h4>
<hr />

<p>
	<a asp-action="Create">Nueva Categoria</a>
</p>

@if (TempData["mensaje"] != null)
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>@TempData["mensaje"]</strong>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
}

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Nombre)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Descripcion)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Estado)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Descripcion)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Estado)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Idcategoria">Editar</a> |
					<a asp-action="Details" asp-route-id="@item.Idcategoria">Ver</a> |
					<a asp-action="Delete" asp-route-id="@item.Idcategoria">Eliminar</a>
				</td>
			</tr>
		}
	</tbody>
</table>
