﻿@model PruebaTecnica.Models.Producto

@{
	ViewData["Title"] = "Delete";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>¿ Esta seguro de eliminar el producto  <b>@Html.DisplayFor(model => model.Nombre)</b>  ?</h4>
<hr />
<div>
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Idcategoria)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Idcategoria)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Codigo)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Codigo)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Nombre)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Nombre)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Precio_venta)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Precio_venta)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Stock)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Stock)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Descripcion)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Descripcion)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Imagen)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Imagen)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Estado)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Estado)
		</dd>
	</dl>

	<form asp-action="Delete">
		<input type="hidden" asp-for="Idproducto" />
		<input type="submit" value="Eliminar" class="btn btn-danger" /> |
		<a asp-action="Index">Atras</a>
	</form>
</div>
