﻿@model PruebaTecnica.Models.Producto

@{
	ViewData["Title"] = "Productos | Ver";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
	<h4>@Html.DisplayFor(model => model.Nombre)</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Idcategoria)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Idcategoria)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Codigo)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Codigo)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Nombre)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Nombre)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Precio_venta)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Precio_venta)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Stock)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Stock)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Descripcion)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Descripcion)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Imagen)
		</dt>
		<dd class="col-sm-10" id="imagen">

		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Estado)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Estado)
		</dd>

		<dd class="col-sm-10" id="imgen64" style="display:none">
			@ViewBag.imgBase64
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Index">Atras</a>
</div>


@section Scripts {

	<script>

		$(document).ready(function () {
				

			var proImage = new Image();
			proImage.src = 'data:image/png;base64,' + $('#imgen64').html()
			proImage.width = 700
			$('#imagen').html(proImage);


		});




	</script>
	

}