﻿@model PruebaTecnica.Models.Producto

@{
	ViewData["Title"] = "Productos | Editar";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Editar Producto</h4>
<hr />
<hr />
<div class="row">
	<div class="col-md-4">

				<form asp-action="Edit" enctype="multipart/form-data" method="post">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<input type="hidden" asp-for="Idproducto" />
					<div class="form-group">
						<label asp-for="Idcategoria" class="control-label"></label>
						<select asp-for="Idcategoria" class="form-control" asp-items="ViewBag.Idcategoria"></select>
						<span asp-validation-for="Idcategoria" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Codigo" class="control-label"></label>
						<input asp-for="Codigo" class="form-control" />
						<span asp-validation-for="Codigo" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Nombre" class="control-label"></label>
						<input asp-for="Nombre" class="form-control" />
						<span asp-validation-for="Nombre" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Precio_venta" class="control-label"></label>
						<input asp-for="Precio_venta" class="form-control" />
						<span asp-validation-for="Precio_venta" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Stock" class="control-label"></label>
						<input asp-for="Stock" class="form-control" />
						<span asp-validation-for="Stock" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Descripcion" class="control-label"></label>
						<input asp-for="Descripcion" class="form-control" />
						<span asp-validation-for="Descripcion" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Imagen" class="control-label"></label>
						@*<input asp-for="Imagen" class="form-control" type="file" />*@
						@Html.TextBoxFor(m => m.Imagen, new { type = "file" })
						<span asp-validation-for="Imagen" class="text-danger"></span>
					</div>
					<div class="form-group form-check">
						<label class="form-check-label">
							<input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
						</label>
					</div>
					<div class="form-group">
						<input type="submit" value="Guardar" class="btn btn-primary" />
					</div>

					<div class="col-sm-10" id="imgen64" style="display:none">						
						@ViewBag.imgBase64
					</div>
				</form>
			

	</div>

	<div class="col-md-6">
		<h6 class="text-center">Vista Previa</h6>
		<div  id="imagen" class="text-center">>

		</div>
	</div>
</div>

<div>
	<a asp-action="Index">Atras</a>
</div>


@section Scripts {

	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

	<script>

		$(document).ready(function () {


			var proImage = new Image();
			proImage.src = 'data:image/png;base64,' + $('#imgen64').html()
			proImage.width = 400
			$('#imagen').html(proImage);
	

		});


	</script>


}


