﻿@model IEnumerable<PruebaTecnica.Models.ProductosCategoria>

@{
	ViewData["Title"] = "Productos | CRUD";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Lista de Prooductos</h4>
<hr />

<p>
	<a asp-action="Create">Nuevo Producto</a>
</p>

@if (TempData["mensaje"] != null)
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>@TempData["mensaje"]</strong>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
}
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Categoria)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Codigo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Nombre)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Precio_venta)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Stock)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Descripcion)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Imagen)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Estado)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Categoria)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Codigo)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Precio_venta)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Stock)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Descripcion)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Estado)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Idproducto">Editar</a> |
					<a asp-action="Details" asp-route-id="@item.Idproducto">Ver</a> |
					<a asp-action="Delete" asp-route-id="@item.Idproducto">Eliminar</a>
				</td>
			</tr>
		}
	</tbody>
</table>



